{% extends 'template.html' %}
{% block content %}
<div id="container" class="row align-items-center col-xl-6 offset-xl-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1">
    <form id="forms" style="" class="needs-validation col-10 offset-1 col-xl-10 offset-xl-1 shadow mb-5" method="POST" action="{{url_for('cadastrar')}}" enctype="multipart/form-data"
          novalidate>
        <div id="first-step" class="card step">
            <h5 class="card-header header">DADOS PESSOAIS</h5>
            <div class="card-body" >
                <div class="form-group col-xl-8 col-md-8">
                    <label for="validationCustom01">Nome Completo</label>
                    <input type="text" name="full_name" class="form-control" id="validationCustom01" placeholder="Insira seu nome..."
                           required>
                    <div class="invalid-feedback">
                        Campo obrigatório.
                    </div>
                </div>
                <div class="form-group col-xl-8 col-md-8">
                    <label for="email">E-mail</label>
                    <input type="email" name="email" class="form-control" id="email" placeholder="exemplo@dominio.com" required>
                    <div class="invalid-feedback">
                        Campo obrigatório.
                    </div>
                </div>
                <div class="form-group col-xl-8 col-md-8">
                    <label>Sexo</label>
                    <div class="custom-control custom-radio">

                        <input class="custom-control-input" type="radio" name="sexo" id="masculino"
                               value="masculino" required>
                        <label class="custom-control-label" for="masculino">
                            Masculino
                        </label>
                    </div>
                    <div class="custom-control custom-radio col-xl-8 col-md-8">
                        <input class="custom-control-input" type="radio" name="sexo" id="feminino"
                               value="feminino" required>
                        <label class="custom-control-label" for="feminino">
                            Feminino
                        </label>
                        <div class="invalid-feedback">Selecione uma opção.</div>

                    </div>
                </div>
                <div class="form-group col-xl-8 col-md-8">
                    <label for="data-nascimento">Data de Nascimento</label>
                    <input type="date" name="date" class="form-control" id="data-nascimento" required>
                    <div class="invalid-feedback">
                        Campo obrigatório.
                    </div>
                </div>


            </div>

        </div>
        <div class="card step">
            <h5 class="card-header">COMORBIDADES</h5>
            <div class="card-body col-xl-6 col-md-8">
                <div>
                    <h5 class="card-title">Tem alguma das doenças abaixo?</h5>
                    <div class="custom-control custom-checkbox col-xl-6 col-md-8">
                        <input type="checkbox" class="custom-control-input" id="diabetes" name="diabetes" value="diabetes">
                        <label class="custom-control-label" for="diabetes">Diabetes</label>

                    </div>
                    <div class="custom-control custom-checkbox col-xl-6 col-md-8">
                        <input type="checkbox" class="custom-control-input" id="hipertensao" name="hipertensao" value="hipertensao">
                        <label class="custom-control-label" for="hipertensao">Hipertensão</label>
                    </div>
                    <div class="custom-control custom-checkbox col-xl-6 col-md-8">
                        <input type="checkbox" class="custom-control-input" id="hipotirioidismo" name="hipotirioidismo" value="hipotirioidismo">
                        <label class="custom-control-label" for="hipotirioidismo">Hipotirioidismo</label>
                    </div>
                    <div class="custom-control custom-checkbox col-xl-6 col-md-8">
                        <input type="checkbox" class="custom-control-input" id="hiv" name="HIV" value="HIV">
                        <label class="custom-control-label" for="hiv">HIV</label>
                    </div>
                    <div class="custom-control custom-checkbox col-xl-6 col-md-8">
                        <input type="checkbox" class="custom-control-input" id="lupus" name="lupus" value="lupus">
                        <label class="custom-control-label" for="lupus">Lúpus</label>
                    </div>
                    <div class="custom-control custom-checkbox col-xl-6 col-md-12">
                        <input type="checkbox" class="custom-control-input" id="outro" value="">
                        <label class="custom-control-label " for="outro">Outro: </label>
                        <input class="border-right-0 border-top-0 border-left-0 " name="outro" value="" type="text"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="card step">
            <h5 class="card-header">HÁBITOS SOCIAIS</h5>
            <div class="card-body">
                <div class="form-group col-xl-6 col-md-8" >
                    <label>Você fuma?</label>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="fuma" value="fuma" {% if form.smoke %} checked {% endif %} name="habitos-sociais-1" class="custom-control-input" required>
                        <label class="custom-control-label" for="fuma">Sim</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="nao-fuma" value="nao-fuma" {% if not form.smoke and not form.quit_smoke%} checked {% endif %} name="habitos-sociais-1" class="custom-control-input"
                               required>
                        <label class="custom-control-label" for="nao-fuma">Não</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="jah_fumou" value="jah-fumou" {% if form.quit_smoking %} checked {% endif %} name="habitos-sociais-1" class="custom-control-input"
                               required>
                        <label class="custom-control-label" for="jah_fumou">Já fumei</label>
                        <div class="invalid-feedback">
                            Selecione uma opção.
                        </div>
                    </div>

                </div>
                <div class="form-group col-xl-6 col-md-8">
                    <label>Consome bebidas alcoólicas?</label>
                    <div class="custom-control custom-radio">

                        <input class="custom-control-input" {% if form.drink %} checked {% endif %} type="radio" name="habitos-sociais-2"
                               id="sim-frequentemente"
                               value="sim-frequentemente" required>
                        <label class="custom-control-label" for="sim-frequentemente">
                            Sim, frequentemente
                        </label>
                    </div>
                    <div class="custom-control custom-radio">

                        <input class="custom-control-input" type="radio" {% if form.drink_rarely %} checked {% endif %} name="habitos-sociais-2" id="sim-raramente"
                               value="sim-raramente" required>
                        <label class="custom-control-label" for="sim-raramente">
                            Sim, raramente
                        </label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input class="custom-control-input" type="radio" {% if not form.drink and not form.drink_rarely %} checked {% endif %} name="habitos-sociais-2" id="nao-bebe"
                               value="nao" required>
                        <label class="custom-control-label" for="nao-bebe">
                            Não
                        </label>
                        <div class="invalid-feedback">
                            Selecione uma opção.
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="card step">
            <h5 class="card-header">HISTÓRICO DE CANCÊR</h5>
            <div class="card-body">
                <div class="form-group col-xl-6 col-md-8">
                    <label>Já teve câncer?</label>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="teve-cancer" {% if form.have_cancer %} checked {% endif %} value="sim" name="historico-cancer-1"
                               class="custom-control-input" required>
                        <label class="custom-control-label" for="teve-cancer">Sim</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="nao-teve-cancer" {% if not form.have_cancer %} checked {% endif %} value="nao" name="historico-cancer-1"
                               class="custom-control-input" required>
                        <label class="custom-control-label" for="nao-teve-cancer">Não</label>
                        <div class="invalid-feedback">
                            Selecione uma opção.
                        </div>
                    </div>

                </div>
                <div class="form-group col-xl-6 col-md-8">
                    <label>Tem histórico de câncer na família?</label>
                    <div class="custom-control custom-radio">

                        <input class="custom-control-input" {% if form.history_of_cancer %} checked {% endif %} type="radio" name="historico-cancer-2"
                               id="tem-historico"
                               value="sim" required>
                        <label class="custom-control-label" for="tem-historico">
                            Sim
                        </label>
                    </div>
                    <div class="custom-control custom-radio">

                        <input class="custom-control-input" {% if not form.history_of_cancer %} checked {% endif %} type="radio" name="historico-cancer-2" id="sem-historico"
                               value="nao" required>
                        <label class="custom-control-label" for="sem-historico">
                            Não
                        </label>
                        <div class="invalid-feedback">
                            Selecione uma opção.
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="card step">
            <h5 class="card-header">LESÕES NA BOCA</h5>
            <div class="card-body">
                <div class="form-group col-xl-6 col-md-8">
                    <label>Foi ao dentista no último ano?</label>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="vai-ao-dentista" {% if form.went_dentist %} checked {% endif %} value="sim" name="lesoes-boca-1"
                               class="custom-control-input" required>
                        <label class="custom-control-label" for="vai-ao-dentista">Sim</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="nao-vai-ao-dentista" {% if not form.went_dentist %} checked {% endif %} value="nao" name="lesoes-boca-1"
                               class="custom-control-input" required>
                        <label class="custom-control-label" for="nao-vai-ao-dentista">Não</label>
                        <div class="invalid-feedback">
                            Selecione uma opção.
                        </div>
                    </div>


                </div>
                <div class="form-group col-xl-6 col-md-8">
                    <label>Consome chimarrão?</label>
                    <div class="custom-control custom-radio">

                        <input class="custom-control-input" {% if form.consume_mate %} checked {% endif %} type="radio" name="lesoes-boca-2"
                               id="consome-chimarrao"
                               value="sim" required>
                        <label class="custom-control-label" for="consome-chimarrao">
                            Sim
                        </label>
                    </div>
                    <div class="custom-control custom-radio">

                        <input class="custom-control-input" {% if not form.consume_mate %} checked {% endif %} type="radio" name="lesoes-boca-2" id="nao-consome-chimarrao"
                               value="nao" required>
                        <label class="custom-control-label" for="nao-consome-chimarrao">
                            Não
                        </label>
                        <div class="invalid-feedback">
                            Selecione uma opção.
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="card step">
            <h5 class="card-header">LESÕES NA PELE</h5>
            <div class="card-body">
                <div class="form-group col-xl-6 col-md-8">
                    <label>Você usa protetor solar?</label>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="usa" {% if form.sunscreen %} checked {% endif %} value="sim" name="lesoes-pele-1"
                               class="custom-control-input" required>
                        <label class="custom-control-label" for="usa">Sim</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="nao-usa" {% if not form.sunscreen %} checked {% endif %} value="nao" name="lesoes-pele-1"
                               class="custom-control-input" required>
                        <label class="custom-control-label" for="nao-usa">Não</label>
                        <div class="invalid-feedback">
                            Selecione uma opção.
                        </div>
                    </div>

                </div>
                <div class="form-group col-xl-6 col-md-8">
                    <label>Você já teve insolação?</label>
                    <div class="custom-control custom-radio">

                        <input class="custom-control-input" {% if form.sunstroke %} checked {% endif %} type="radio" name="lesoes-pele-2"
                               id="jah-teve"
                               value="sim" required>
                        <label class="custom-control-label" for="jah-teve">
                            Sim
                        </label>
                    </div>
                    <div class="custom-control custom-radio">

                        <input class="custom-control-input" {% if not form.sunstroke %} checked {% endif %} type="radio" name="lesoes-pele-2" id="nao-teve"
                               value="nao" required>
                        <label class="custom-control-label" for="nao-teve">
                            Não
                        </label>
                        <div class="invalid-feedback">
                            Selecione uma opção.
                        </div>
                    </div>
                </div>
                <div class=" col-xl-6 col-md-8">
                    <label>Tem alguma lesão na pele?</label>
                    <div class="custom-control custom-radio">

                        <input class="custom-control-input" {% if form.skin_lesion %} checked {% endif %} type="radio" name="lesoes-pele-3"
                               id="tem_lesao"
                               value="sim" required>
                        <label class="custom-control-label" for="tem_lesao">
                            Sim
                        </label>
                    </div>
                    <div class="custom-control custom-radio">

                        <input class="custom-control-input" {% if not form.skin_lesion %} checked {% endif %} type="radio" name="lesoes-pele-3" id="nao-tem-lesao"
                               value="nao" required>
                        <label class="custom-control-label" for="nao-tem-lesao">
                            Não
                        </label>
                        <div class="invalid-feedback">
                            Selecione uma opção.
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div style="height: 10%" class="row col-xl-12 col-md-12 col-sm-12 col-12">
            <div class="col-xl-3 offset-xl-3 col-md-3 offset-md-3 col-sm-3 offset-sm-3 col-5 offset-1">
                <button type="button" class="btn btn-block btn-primary" id="prev">Voltar</button>
            </div>
            <div class="col-xl-3 col-md-3  col-sm-3 col-5">
                <button type="button"  class="btn btn-block btn-primary" id="next">Avançar</button>
            </div>

        </div>
    </form>

</div>
{% endblock content%}

